html,
body {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	background-color: black;
}

.text-bg-dark {
	background-color: black !important;
}

.square {
	user-select: none;
}

.red {
	color: red;
}